.login-form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
  margin-top: 8%;
  padding: 20px;
}
.login-form h4{
  padding: 10px;
  margin-bottom: 3%px;
}
.form-group{
  padding: 5px;
}
.form-group label{
  padding: 3px;
}
